

.Youtube-searches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 30px;
  margin-top: 30px;
}
.Youtube-searches > * {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.Youtube-thumbnail {
  color: rgb(0, 0, 0);
  width: 180px;
  grid-column: 1fr;
}

.Youtube-thumbnail img {
  width: 320px;
  height: auto;
}
h4 {
  font-size: large;
  margin-left: 10px;
}

.Youtube-thumbnail:hover {
  transition: ease-in 1s;
  /* filter: saturate(10%); This is another effect I was trying out in case you guys want to try this instead of opacity*/
  filter: opacity(70%);
}


