.contact {
  display: grid;
   grid-template-columns: 0.1fr 0.1fr;
  justify-content: center;
  align-items: center;
  gap: 25px;
  
} 

.showcase-form form {
  width: 310px;
  position: relative;
  margin-left: 35px;
  top: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(0, 0, 0.2);
  padding: 15px;
}
.btn:hover {
  transform: scale(0.89);
}

.location {
  position: relative;
  margin-right: 10px;
  top: 50px;
  margin-top: 60px;
}

input.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: gray;
}

.showcase-form .form-control {
  margin: 30px;
}

h3 {
  margin: 20px 65px 0;
  padding: 0;
}
.vl {
  border-left: 1px solid rgb(103, 104, 103);
  height: 500px;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
  color: black;
}

/* .social div{
  border: 2 solid red;
} */

@media (max-width: 990px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .location {
    position: relative;
    bottom: 90px;
    height: 50%;
    margin-right: 10px;
    margin-left: 35px;
    width: auto;
    height: auto;
  }

  .showcase-form form {
    height: 50%;
    margin-left: 35px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0, 0, 0.2);
    padding: 5px;
    width: auto;
    height: auto;
  }
} 