.news-form {
    grid-column: span 3;
}

.article {
    grid-column: 1fr;
    background-color: hsl(0, 23%, 89%);
    height: 470px;
    padding: 10px 10px 0 10px;
    margin-top: 70px;
  
}
h3{
    font-size: 2.1vh;
    text-align: center;
}

p {
    font-size: 1.7vh;
}

.article img {
    max-width:398px;
    max-height:264px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 1%;
}


.article img:hover{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8)) invert(25%);
}

.news-content{
    text-align: left;
    width: 61vh;
    margin-top: 20px;
    font-size: medium;
}

.author {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.2em;
}

.line {
    background-color: rgb(201, 149, 84);
    padding: 3px;
    width: 418px;
}

.career-for-link {
    color: rgb(146, 138, 168);
    background-color: rgb(36, 11, 11, 0.6);
}

.career-for-link:hover{
    background-color: black;
}