label {
  display: block;
  text-align: left;
}

.Comments-thread {
  margin-top: 100px;
  display: grid;
  row-gap: 1vh;
  margin-left: 5vh;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.Comments-submit-button {
  width: 10vh;
}

.Comments-input {
  width: 65vh;
  height: 3vh;
}

.Comments-list {
  margin-left: 25vh;
  padding-left: 0;
  width: 80vh;
  list-style-type: none;
  text-align: left;
  overflow-y: auto !important;
}

.Comments-name {
  font-size: x-large;
  margin: 0;
}
.bt-comment {
  width: 10vh;
}