/* Navbar */
.navbar {
  background-color: #df2707;
  color: #fff;
  height: 55px;
  padding-bottom: 15px;
}

.navbar .flex {
  display: flex;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}
.navbar li {
  list-style-type: none;
}

h1 {
 padding-left: 15px;
  margin: 0;
}

nav ul {
  text-align: center;
  text-align: center;
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 170px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* nav {
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

nav > ul {
  display: flex;
  margin: 0.5em;
  column-gap: 20px;
  list-style: none;
  padding-left: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.Nav-youtube {
  font-weight: bold;
} */
