.Nav-youtube ul li a {
  display: flex;
}

.MobileNavigation {
  display: none;
}

.youtube {
  display: flex;
}

.youtube li {
  padding: 0 25px 0  25px;
  list-style-type: none;
}

nav > ul {
  display: flex;
  margin: 0.5em;
  column-gap: 20px;
  list-style: none;
  padding-left: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.Nav-youtube {
  font-weight: bold;
}
