*{
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7vh 86vh 7vh;
}

nav {
  background-color: #cf4848;
  grid-column: span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: fixed; 
  height: 50px;
}

main {
  background-color: #f2e6e6;
  grid-column: span 2;
  grid-row: 2;
  overflow: scroll;
}

footer {
  grid-row: 3;
  grid-column: span 2;
  background-color: #cf4848;
  color: white;
  text-align: center;
}
