@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;700&display=swap');
/* bootstrap */
:root {
  --black: #141115;
  --white: #fffcf9;
  --primary: #f0263a;
}

body {
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline-block;
  font-size: 18px;
  padding: 0 25px;
}
